.favs {
  @include e(title) {
    font-size: 45px;
  }
  @include e(box) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding: 20px 50px;
  }
}

.favs-more {
  padding: 10px 30px;
  @include e(box) {
    padding: 56px;
  }
}
