.recomendation {
  @include e(subtitle) {
    font-size: 14px;
  }
  @include e(title) {
    font-size: 45px;
  }

  @include e(box) {
  }
  @include e(form-group) {
  }
  @include e(lable) {
  }
  @include e(input) {
  }
  @include e(select) {
  }
  @include e(option) {
  }
  @include e(submit) {
  }
}

.dishes-offered {
  align-self: center;
  @include e(box) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include e(item) {
    max-width: 310px;
  }

  @include e(img-box) {
  }
  @include e(img) {
  }
  @include e(name) {
  }
}

.chosen-dish {
  // background: transparent;
  padding: 10px 30px;
  @include e(box) {
    padding: 70px;
    // position: relative;
    // z-index: 0;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   border: 1px solid $mainColor;
    //   left: 2%;
    //   width: 96%;
    //   top: -2%;
    //   height: 104%;
    // }
  }

  @include e(wines-box) {
  }
  @include e(wines-tab) {
  }
  @include e(pointer) {
  }
  @include e(wines) {
    display: none;
  }
}
