.video {
  @include e(subtitle) {
    font-size: 14px;
  }
  @include e(title) {
    font-size: 45px;
  }
  @include e(text) {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 50%;
    display: block;
    color: $white;
    font-family: $secondaryFontFamily;
    font-size: rem(48px);
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 70px;
    text-align: center;
  }
  @include e(box) {
    top: 16%;
  }
  @include e(xmark-box) {
    right: 20px;
  }
}
