.favs {
  @include e(xmark-box) {
    right: 24px;
    top: 16px;
    width: 26px;
  }
}

.favs-more {
  @include e(box) {
    padding: 36px;
  }

  @include e(name) {
    text-align: center;
  }

  @include e(info) {
    display: flex;
    align-items: center;
  }
  @include e(time-box) {
    text-align: center;
    margin: 0 auto;
    display: flex;
  }
  @include e(time-icon) {
    align-self: center;
    font-size: rem(20px);
  }

  @include e(time) {
    padding: 20px;
    font-family: $baseFontFamily;
    font-size: rem(20px);
  }

  @include e(price-box) {
    text-align: center;
    margin: 0 auto;
    display: flex;
  }
}
