.recomendation {
  @include e(box) {
  }
  @include e(form) {
  }
  @include e(form-group) {
  }
  @include e(lable) {
  }
  @include e(input) {
  }
  @include e(select) {
  }
  @include e(option) {
  }
  @include e(submit) {
  }
}

.dishes-offered {
  @include e(box) {
    padding-top: 30px;
  }
  @include e(main-img-box) {
    width: 600px;
  }
  @include e(main-img) {
    width: 100%;
    max-width: 100%;
  }
  @include e(img-box) {
  }

  @include e(name) {
  }
}
