.reservation {
  @include e(wrap) {
    grid-template-columns: 1fr 40%;
    margin: 0 10%;
  }
  @include e(box) {
    justify-self: end;
    padding: 0 30px;
  }
  @include e(input) {
    &:hover {
      border-color: $mainColor;
    }
  }
}
.contacts {
  justify-self: flex-end;
  margin-left: 0;
}
