.favs {
  @include e(title) {
    font-size: 60px;
  }
  @include e(box) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding: 30px 90px;
  }
  @include e(xmark-img) {
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.2) rotate(180deg);
    }
  }
  @include e(heart) {
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  @include e(more) {
    transition: all 0.3s ease-in-out;
    &:hover {
      font-weight: 700;
      background-color: $mainColor;
      cursor: pointer;
      color: black;
    }
  }
}

.favs-more {
  @include e(back-svg-box) {
    transform: translateX(6px);
    transition: all 0.4 ease;
    &:hover {
      cursor: pointer;
      animation: arrow 1s linear infinite;
    }
  }
  @include e(wines-tab-text) {
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $white;
    }
  }
}


