.header {
  overflow: hidden;
  @include e(animate) {
    background-size: 130%;
  }
  @include e(arrow) {
    &:hover {
      background-color: $mainColor;
      border-color: transparent;
      color: $black;
      cursor: pointer;
    }
  }
}
.heading {
  @include e(item-box) {
    position: relative;
    width: 100%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 150px auto 80px;
  }
  @include e(title) {
    font-size: 90px;
    max-width: 700px;
  }
}

.button {
  margin-bottom: 36px;
  @include e(link) {
    transition: all 1s ease;

    &:hover .button__text_first {
      opacity: 0;
    }
    &:hover .button__text_second {
      transform: translateY(-54px);
    }
    &:hover {
      cursor: pointer;
    }
  }
  @include e(text) {
    padding: 14px 45px;

    @include m(first) {
      transition: all 0.5s ease;
    }
    @include m(second) {
      transition: all 0.7s ease;
    }
  }
}

.header_contacts {
  @include e(adress) {
  }
  @include e(working-hours) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 4px;
      height: 8px;
      width: 8px;
      border: 1px solid $mainColor;
      transform: rotate(45deg);
    }
  }
  @include e(phone) {
  }
  @include e(email) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 4px;
      height: 8px;
      width: 8px;
      border: 1px solid $mainColor;
      transform: rotate(45deg);
    }
  }
}
