.recomendation {
  @include e(box) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  @include e(form) {
    width: 90%;
    max-width: 700px;
  }
  @include e(form-group) {
  }
  @include e(lable) {
  }
  @include e(input) {
  }
  @include e(select) {
  }
  @include e(option) {
  }
  @include e(submit) {
  }
}

.dishes-offered {
  @include e(main-img-box) {
    width: 500px;
  }
  @include e(main-img) {
    width: 100%;
    max-width: 100%;
  }
  @include e(img-box) {
  }
  @include e(img) {
  }
  @include e(name) {
  }
}
