.video {
  @include e(icon-box) {
    top: 130px;
  }
  @include e(wrap) {
    margin: 18% 10%;
  }
  @include e(video) {
    height: 350px;
  }
  @include e(box) {
    top: 12%;
  }
}

.counter {
  @include e(item) {
    gap: 16px;
  }
  @include e(num) {
    font-size: rem(70px);
  }
}
