@import url($google-font);

* {
  box-sizing: border-box;
}

html {
  @include getCssVar(font-size);
}

body {
  @include getCssVar(font-family);
  font-size: 1rem;
  font-family: $baseFontFamily;
  background-color: rgb(12, 13, 13);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

.fluid-box-img {
  max-width: 100%;
  width: 100%;
}
