.header {
  position: relative;
  margin: 0 -16px;
  text-align: center;
  @include e(static-box) {
    padding-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
  }
  @include e(fixed-box) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    width: 100%;
    padding: 10px 20px 4px;
    transition: all 1.6s ease;
    max-width: 1600px;
  }
  @include e(fixed) {
    background-color: rgb(31, 31, 31);
    top: 0;
    position: fixed;
    padding: 10px 20px;
  }

  @include e(logo-box) {
    align-self: center;
  }
  @include e(logo) {
    max-width: 160px;
    width: 100%;
  }

  @include e(arrow) {
    border: 1px solid $mainColor;
    border-radius: 4px;
    color: $mainColor;
    font-family: $baseFontFamily;
    font-size: 39px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 44px;
    @include m(left) {
      left: 2%;
    }
    @include m(right) {
      right: 2%;
    }
  }
  @include e(menu-button-box) {
    position: relative;
    padding-right: 30px;
    margin-top: 6px;
  }

  @include e(menu-button) {
    & span {
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 20px;
      }
      position: absolute;
      height: 4px;
      border-radius: 10px;
      width: 28px;
      background-color: $mainColor;
      top: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
}

.header_contacts {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  grid-column: span 4;
  display: grid;
  text-align: center;
  @include e(adress) {
    display: none;
  }
  @include e(working-hours) {
    display: none;
  }
  @include e(phone) {
    font-size: 14px;
    color: $white;
    padding: 6px 0;
  }
  @include e(email) {
    font-size: 14px;
    color: $white;
    padding: 6px 0;
  }
}

.heading {
  max-width: 100%;

  @include e(item) {
    background-size: cover;
    &:nth-of-type(1) {
      background: no-repeat url("#{$i}main-slider/slider-1.jpg");
    }
    &:nth-of-type(2) {
      background: no-repeat url("#{$i}main-slider/slider-2.jpg");
    }
    &:nth-of-type(3) {
      background: no-repeat url("#{$i}main-slider/slider-3.jpg");
    }
  }
  @include e(item-box) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 170px auto 0;
    opacity: 0;
  }
  @include e(subtitle) {
    @extend %subtitle;
    order: -2;
  }
  @include e(divider) {
    @extend %divider;
    margin: 0 auto;
  }
  @include e(divider-box) {
    width: 100%;
    align-self: center;
    order: -1;
  }
  @include e(title) {
    @extend %title;
    max-width: 300px;
  }
  @include e(data) {
    color: $white;
    font-family: $baseFontFamily;
    font-weight: 300;
    font-size: rem(20px);
    line-height: 32px;
    padding: 0 14px;
  }
  @include e(button) {
    text-align: center;
    margin: 40px auto 100px;
  }
  @include e(button-link) {
    @extend %button;
  }
}

.button {
  overflow: hidden;
  width: max-content;
  margin-inline: auto;
  align-self: center;
  @include e(link) {
    display: block;
    border: 2px solid $mainColor;
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  @include e(text) {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: rem(14px);
    font-weight: 700;
    line-height: 24px;
    padding: 8px 10px;
    @include m(transparent) {
      background-color: transparent;
      color: $mainColor;
    }
    @include m(colored) {
      background-color: $mainColor;
    }
    @include m(second) {
      left: 0;
      right: 0;
      position: absolute;
      bottom: -54.4px;
    }
  }
}

.book {
  display: none;
}

.slick-current {
  animation: header 10s linear infinite;
}

@keyframes header {
  0% {
    background-size: 350%;
  }
  50% {
    background-size: 400%;
  }
  100% {
    background-size: 350%;
  }
}
