.recomendation {
  background-color: rgb(34, 34, 34);
  background: 6% 40% no-repeat url("#{$i}backgrounds/bg-3.png"),
    90% 10% no-repeat url("#{$i}backgrounds/bg-7.png"),
    90% 70% no-repeat url("#{$i}backgrounds/bg-8.png");
  padding: 40px 16px;
  margin: 0 -16px;
  @include e(box) {
  }
  @include e(header) {
    text-align: center;
  }
  @include e(subtitle) {
    @extend %subtitle;
  }
  @include e(divider) {
    @extend %divider;
  }
  @include e(title) {
    @extend %title;
  }

  @include e(form) {
    background-color: rgba(0, 0, 0, 0.493);
    color: $white;
    margin: 20px auto;
    padding: 20px 3%;
    max-width: 650px;
  }
  @include e(form-group) {
    margin: 20px auto;
  }
  @include e(lable) {
    font-family: $secondaryFontFamily;
    color: $mainColor;
  }
  @include e(input) {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(26, 27, 28);
    color: $grey;
    display: block;
    font-family: $baseFontFamily;
    font-size: rem(16px);
    margin-top: 10px;
    padding: 18px 20px;
    width: 100%;
    @include m(invalid) {
      background-color: $mainColor;
      border: 2px solid rgb(121, 15, 15);
      color: rgb(121, 15, 15);
      &::placeholder {
        color: rgb(121, 15, 15);
      }
    }
  }
  @include e(select) {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(26, 27, 28);
    color: $white;
    display: block;
    font-family: $baseFontFamily;
    font-size: rem(16px);
    margin-top: 10px;
    padding: 18px 20px;
    width: 100%;
  }
  @include e(option) {
    text-transform: capitalize;
  }
  @include e(submit) {
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}

.dishes-offered {
  @include e(main-img-box) {
    display: none;
  }
  @include e(message) {
    display: none;
    background-color: rgba(0, 0, 0, 0.382);
    border: thick double $mainColor;
    font-family: $secondaryFontFamily;
    font-size: rem(24px);
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    padding: 20px;
    color: $white;
    max-width: 600px;
  }
  @include e(wraper) {
    background: $black no-repeat url("#{$i}backgrounds/pattern-4.png");
    background-size: cover;
    display: none;
  }
  @include e(box) {
    padding: 0;
  }
  @include e(item) {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 8px 20px;
    margin: 0 auto;
    text-align: left;
    list-style: none;
    max-width: 350px;
  }
  @include e(img-box) {
    align-self: center;
    max-width: 270px;
    border-radius: 2px;
    overflow: hidden;
  }
  @include e(img) {
    width: 100%;
    max-width: 100%;
    animation: scale-img 10s linear infinite;
  }
  @include e(name) {
    flex: 1;
    padding: 8px 20px 0;
    font-family: $secondaryFontFamily;
    color: $white;
    font-size: rem(21px);
    line-height: 1.5;
    width: 100%;
  }
  @include e(meta) {
    display: flex;
    justify-content: flex-end;
  }
  @include e(heart) {
    color: $mainColor;
    opacity: 0.3;
    font-size: rem(32px);
    padding: 5px 20px;
    @include m(liked) {
      opacity: 1;
    }
  }
  @include e(more) {
    border: 1px solid $mainColor;
    background-color: black;
    margin: 5px 0 10px 0;
    padding: 7px 14px;
    font-family: $secondaryFontFamily;
    color: $mainColor;
    font-size: rem(16px);
    text-align: right;
    text-transform: capitalize;
  }
}
.chosen-dish {
  padding: 30px 16px;
  background: $black no-repeat url("#{$i}backgrounds/pattern-4.png");
  background-size: cover;
  height: 100%;
  color: $white;
  display: none;
  @include e(back-svg-box) {
    max-width: 50px;
    padding: 4px 10px;
  }
  @include e(box) {
    padding: 30px 26px;
    border: 1px solid $mainColor;
  }
  @include e(img-box) {
    align-self: center;
    max-width: 340px;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 auto;
  }
  @include e(img) {
    width: 100%;
    max-width: 100%;
    animation: scale-img 10s linear infinite;
  }
  @include e(name) {
    padding: 20px 0;
    font-family: $secondaryFontFamily;
    color: $white;
    font-size: rem(26px);
    line-height: 1.5;
  }

  @include e(info) {
    color: $mainColor;
    border-block: 1px solid $mainColor;
  }
  @include e(time-box) {
    margin: 0 auto;
    text-align: center;
    display: flex;
  }
  @include e(time-icon) {
    align-self: center;
    font-size: rem(20px);
  }

  @include e(time) {
    padding: 20px;
    font-family: $baseFontFamily;
    font-size: rem(20px);
  }

  @include e(price-box) {
    display: flex;
  }
  @include e(price-icon) {
    align-self: center;
    font-size: rem(20px);
  }
  @include e(price) {
    padding: 20px;
    font-family: $baseFontFamily;

    font-size: rem(20px);
  }
  @include e(price-dollar) {
    font-family: $baseFontFamily;
    font-size: rem(20px);
  }
  @include e(ingredients) {
    padding: 20px 0;
    font-family: $baseFontFamily;
    color: $white;
    font-size: rem(18px);
    text-transform: capitalize;
  }
  @include e(wines-box) {
  }
  @include e(wines-link) {
    display: flex;
    color: $mainColor;
    gap: 10px;
    text-decoration: none;
  }
  @include e(wines-tab) {
  }
  @include e(wines-tab-text) {
    font-family: $secondaryFontFamily;
    font-size: rem(24px);
  }
  @include e(pointer) {
    align-self: flex-end;
  }
  @include e(wines) {
    display: none;
  }
  @include e(wine) {
    position: relative;
    display: block;
    padding: 12px;
    font-family: $secondaryFontFamily;
    text-transform: capitalize;
    font-size: rem(20px);
    list-style-type: none;
    &::before {
      content: "";
      background: no-repeat url("#{$i}icons/wine-glass-empty-solid.svg");
      position: absolute;
      left: -20px;
      width: 20px;
      height: 20px;
    }
  }
}
