.reservation {
  @include e(wrap) {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  @include e(box) {
    align-self: flex-end;
    margin: 0;
    height: 100%;
  }
  @include e(form) {
    margin: 0 auto;
  }
  // @include e(info) {
  //   flex: 1;
  // }

  @include e(message) {
    margin-top: 16%;
  }
}
.contacts {
  margin: 0 auto;
  align-self: flex-start;
  height: 100%;
}
