.main-menu {
  display: block;

  @include e(burger-icon-box) {
    display: none;
  }
  @include e(box) {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 0;
  }
  @include e(item) {
    list-style: none;
    &:hover .main-menu__submenu-box {
      visibility: visible;
    }
    @include m(fav) {
    }
  }
  @include e(heart) {
    color: $mainColor;
    opacity: 0.4;
    font-size: rem(22px);
    vertical-align: top;
    padding-left: 10px;
    transform-origin: 50%;
  }
  @include e(link) {
    color: $white;
    font-family: $baseFontFamily;
    font-size: rem(14px);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    @include m(fav) {
      color: $mainColor;
    }
  }
  @include e(submenu-box) {
    margin-top: 26px;
    background-color: rgb(23, 23, 23);
    padding: 10px;
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease;
    @include m(imgs) {
      left: 100px;
      display: flex;
    }
  }
  @include e(submenu-item) {
    list-style: none;
    padding: 18px 24px;
    text-align: left;
    white-space: nowrap;
  }
  @include e(submenu-link) {
    color: $white;
    font-family: $baseFontFamily;
    font-size: rem(16px);
    font-weight: 700;
    padding-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
  }
  @include e(submenu-lv2-box) {
    background-color: rgb(23, 23, 23);
    left: 100%;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  @include e(submenu-lv2-item) {
    list-style: none;
    padding: 18px 24px;
    white-space: nowrap;
  }

  @include e(submenu-lv2-link) {
    color: $white;
    font-family: $baseFontFamily;
    font-size: rem(16px);
    font-weight: 700;
    padding-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
  }

  @include e(img-box) {
    overflow: hidden;
  }
  @include e(img) {
    max-width: 160px;
  }
  @include e(item-text) {
    text-align: center;
    padding: 14px;
    font-size: rem(20px);
  }
}

.mob-menu {
  display: none;
}

.dark-overlay {
  display: none;
}

@keyframes heart {
  0% {
    transform: scale(1) rotateY(-500deg);
  }
  40% {
    transform: scale(1) rotateY(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
