.recomendation {
  @include e(box) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  @include e(title) {
    font-size: 60px;
  }
}

.dishes-offered {
  @include e(main-img-box) {
    margin: 60px auto 0;
    width: 480px;
    overflow: hidden;
    @include m(visible) {
      display: block;
    }
  }
  @include e(main-img) {
    width: 100%;
    max-width: 100%;
    animation: scale-img 10s linear infinite;
  }
}
