.special-offer {
  @include e(title) {
    font-size: 60px;
  }
  @include e(button-link) {
    font-size: rem(14px);
    padding: 18px 24px;
  }
}
.special-cats {
  @include e(img) {
    transition: all 500ms ease;
    background: rgba(255, 255, 255, 0.44);
    opacity: 1;
  }
  @include e(box) {
    padding-bottom: 40px;
    & div:nth-child(2n + 1) {
      margin: 2% 1% 0;
    }
    & div:nth-child(2n) {
      margin: 0 1% 2%;
    }
  }
}
